body  {
    text-align:  center;
    font-size:  40px;
    padding:  20px;
    background: linear-gradient(to right, #0f0c29, #474094, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    font-family: fantasy;
    font-size: 75px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 70px;
    color: rgb(196, 143, 30);
}

#musicText {
    opacity: 100%;
}

#song_title,  #artist  {
    text-decoration: none;
    color:  #569fac;
} 

#song_title:hover  {
    opacity:  0.6;
}

#artist:hover {
    opacity: 0.6;
}
